.customModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.customModal.show {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.w3-modal-content {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.closeModal {
    float: right;
    cursor: pointer;
    font-size: 20px;
}
