/* Базовий стан модального вікна */
#customModal {
    display: none; /* Спочатку приховано */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Стан, коли вікно активне */
#customModal.show {
    display: block; /* Стає видимим для блокової моделі */
    opacity: 1;
    visibility: visible;
}
